<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Xseed_Extensions::xseedextensions" title="Xseed Extensions">
                    <resource id="Xseed_SizeChart::main_menu" title="Size Chart Manager"
                              sortOrder="100">
                        <resource id="Xseed_SizeChart::sizechart" title="Manage Size Chart"
                                  sortOrder="22" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Xseed_SizeChart::configuration" title="Xseed Size Chart Configuration" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
