body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.size-chart {
    width: 500px;
    height: 300px;
    border: 2px solid white;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.header-info {
    font-size: 14px;
    margin-top: 10px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
